.footer{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('../img//footer-bg.jpg');
    height: 70vh;
    background-position:top, center;
    background-repeat: no-repeat;
    object-fit: contain;
}