.loading {
    width: 100vw;
    height: 100vh;
    background-color: #191919 !important;
    display: grid;
    place-items: center;
    max-width: 100%;
  }
  
  .loading > div {
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid #4d8b55;
  
    border-radius: 50%;
  
    animation: loadingRotate .5s linear infinite;
  }
  
  @keyframes loadingRotate {
    to {
      transform: rotateZ(360deg);
    }
  } 
  
  
  